
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.dashboard-container {
    flex-direction: row; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}


.dashboard {
    flex: 0 0 auto; 
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
}
.dashboard-content {
    flex: 1;
    padding: 20px;
}
.dashboard h2 {
    /* display: flex; */
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard i {
    /* margin-right: 10px; */
    font-size: 24px;
    color: #3498db; 
}


.dashboard p {
    margin: 0;
}
/*
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.dashboard-container {
    flex-direction: row; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

nav {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-content {
    flex: 1;
    padding: 20px;
}

.dashboard {
    flex-direction: row; 
    display: flex;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard i {
    margin-right: 10px;
    font-size: 24px;
    color: #3498db; 
}

.dashboard h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard p {
    margin: 0;
} */